.feedbackground {
  height: 445px;
  width: 100%;
  background-color: #bdd8b2;
}

.innerground {
  height: 35px;
  width: 20%;
  background-color: #38502c;
}
@keyframes smoothBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-50px);
  }
  60% {
    transform: translateY(-50px);
  }
}

.animated-div {
  width: 100px;
  height: 100px;
  background-color: #38502c;
  margin: 20px;
  animation: smoothBounce 6s infinite; /* 2s duration, infinite loop */
}
